
/*this*/
.landing-page-container {
    max-width: 600px;
}
.landing-page-header {
    font-weight: 700;
}
/*this*/
.filled-obstruction{
    height: 40px;
    width: 40px;
    background-color: black;
    display: inline-flex;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

/*this*/
.grid { 
    height: 40px !important
}
.grid-blocks{
    height: 40px;
    width: 40px;
    background-color: #e7e7e7;
    display: inline-block;
    border: 1px solid black;
}

.start-simulation-button , .back-button {
    background-color: #CDCAC9 !important;
    color: #000 !important;
}
