

.landing-page-container {
    max-width: 600px;
}
.landing-page-header {
    font-weight: 700;
}

.filled-obstruction {
    height: 40px;
    width: 40px;
    background-color: black;
    display: inline-flex;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.empty-obstruction {
    height: 40px;
    width: 40px;
    background-color: #e7e7e7;
    display: inline-flex;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    
}

.grid { 
    height: 40px !important
}
.grid-blocks {
    height: 40px;
    width: 40px;
    background-color: #e7e7e7;
    display: inline-block;
    border: 1px solid black;
}

.grid-block-filled {
    height: 40px;
    width: 40px;
    display: inline-flex;
    background-color: black;
    border: 1px solid black;    
}

.input-grid {
    height: 45px;
    width: fit-content;
    margin: auto;
}

.input-block {
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black;
    background-color: #419FC4;
}
.input-block-selected {
    display: inline-flex;
}

.selected-input-box {
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black;
    background-color: #0C5B5F;
}

.selected-empty-box {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #fff;
}

.start-simulation-button , .back-button {
    background-color: #CDCAC9 !important;
    color: #000 !important;
}
