

.dashboard-container {
    max-width: 700px;
    margin: auto;
}

.css-187mznn-MuiSlider-root {
    color: black !important;
}

.next-button {
    background-color: #CDCAC9 !important;
    color: black !important;
}
